@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(196, 190, 190);
}

nav {
  height: 90px;
  /* background-color: black; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  text-align: center;
  font-size: 4rem;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  /* color: rgb(199, 243, 134); */
  color: navy;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 70px;
  width: 70px;
}

.container {
  height: 85%;
}

.searchBox {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 20px;
  width: 265px;
  border-radius: 7px;
  padding: 20px 15px;
  margin: 20px;
  color: purple;
  border: 1px solid white;
  outline: none;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input:focus {
  border: 1px solid purple;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 2px 2px 10px #b5b5b5, -1px -1px 10px #ffffff;
}

button {
  padding: 10px 14px;
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 10px #b5b5b5, -5px -5px 10px #ffffff;
  text-align: center;
  cursor: pointer;
  outline: none;
}

button img {
  height: 23px;
  width: 23px;
}

.maincontainer {
  height: 83%;
  display: flex;
  justify-content: center;
}

.weatherdetails {
  height: 350x;
  width: 450px;
  display: flex;
  flex-direction: column;
}

.loading {
  height: 40px;
  width: 40px;
  border: 4px solid;
  border-color: #0e51aa transparent #0e51aa transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.processing {
  font-size: 2.5rem;
  color: black;
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.detailsBoxes {
  height: 35px;
  text-align: center;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.city {
  height: 60px;
  padding: 15px;
  font-size: 2rem;
  padding: 7px;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
